parameters:
	level: 4
	phpVersion: 80309 # PHP 8.3
	fileExtensions:
	    - php
	paths:
	    - app
	    - bootstrap
	    - config
	    - database
	    - lang
	    - resources/views
	    - routes
	    - tests
	excludePaths:
	parallel:
	    maximumNumberOfProcesses: 6
	    processTimeout: 1000.0
	ignoreErrors:
